<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>Liste des clients</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Solde</th>
                    <th>Decouvert</th>
                    <th>Agence</th>
                    <th>Client</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let compte of compte | async">
                    <td>{{compte.id}}</td>
                    <td>{{compte.solde}}</td>
                    <td>{{compte.decouvert}}</td>
                    <td>{{compte.agence.code}}</td>
                    <td>
                        {{compte.client.prenom}} {{compte.client.nom}}
                    </td>
                    <td>
                    <button (click)="updateCompte(compte.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                    <button (click)="deleteCompte(compte.id)" class="btn btn-danger">Delete</button>
                    <button (click)="compteDetails(compte.id)" class="btn btn-info" style="margin-left: 10px">Details</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



